# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Logs
*.log

# Env
.env
.env.*

# SSH / AWS keys
*.pem
*.key

# Python
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Temporary
*.tmp
*.swp
